<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>Домашний сервер</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Профиль</h3>
    </div>
    <div class="panel-body">
      <p>Пользователь: {{user.username}}</p>
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>
      <span class="glyphicon glyphicon-lock"></span> 
      Закрытый сервер
    </h1>
    <p>Необходима авторизация</p>
    <p>
      <a data-toggle="collapse" href="#local-sign-in" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Войти
      </a>
    </p>

    <form id="local-sign-in" class="collapse" action="/login" method="post">
    <div>
        <p></p>
        <label>Логин:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
    </div>
  </form>
  </div>

{{/if}}